In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("/Users/xinyuanliang/Desktop/sales_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      942 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  943 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [5]:
df.head(10)

      Product     Region   Price  Units Sold   Sale Date
0         NaN   Region_1   72.87        10.0  2022-01-01
1  Product_40   Region_2   46.19        10.0  2022-01-02
2   Product_1   Region_5     NaN         4.0  2022-01-03
3   Product_6   Region_8  143.47         8.0  2022-01-04
4  Product_44   Region_4  122.54        10.0  2022-01-05
5  Product_21   Region_8   15.76        20.0  2022-01-06
6  Product_31  Region_10    1.60        11.0  2022-01-07
7         NaN        NaN     NaN        11.0  2022-01-08
8  Product_20   Region_8    9.55         8.0  2022-01-09
9  Product_34   Region_1   58.88         NaN  2022-01-10