In [88]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

dt=pd.read_csv('/Users/xinyuanliang/Desktop/experiment_dataset.csv')
dt.head(10)

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579
5           5   27  Location3  Device1  Variant B   26.129246  0.149341
6           6   37  Location3  Device3  Variant B   20.525362  0.095788
7           7   39  Location2  Device1  Variant A   21.525217  0.149985
8           8   54  Location3  Device2    Control   21.910608  0.135535
9           9   41  Location1  Device2  Variant A   27.642788  0.137266

In [89]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [90]:
# Check the missing values
dt.isnull().sum()

Unnamed: 0    0
Age           0
Location      0
Device        0
Variant       0
Time Spent    0
CTR           0
dtype: int64

In [91]:
# By location
dt.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [92]:
# checking time spent
loc_1 = dt[dt['Location'] == 'Location1']['Time Spent']
loc_2 = dt[dt['Location'] == 'Location2']['Time Spent']
loc_3 = dt[dt['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.05357883967057365, pvalue=0.9478339402848069)

In [93]:
# checking CTR
loc_1 = dt[dt['Location'] == 'Location1']['CTR']
loc_2 = dt[dt['Location'] == 'Location2']['CTR']
loc_3 = dt[dt['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

##

In [103]:
# checking time spent
device_1 = dt[dt['Device'] == 'Device1']['Time Spent']
device_2 = dt[dt['Device'] == 'Device2']['Time Spent']
device_3 = dt[dt['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(device_1, device_2, device_3)
print(p_val)

F_onewayResult(statistic=0.2664537181183386, pvalue=0.7661459958744103)

In [105]:
# checking CTR
device_1 = dt[dt['Device'] == 'Device1']['CTR']
device_2 = dt[dt['Device'] == 'Device2']['CTR']
device_3 = dt[dt['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(device_1, device_2, device_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

##

In [94]:
# Calculate the average CTR for Variant A
varA_avg_ctr = dt[dt['Variant'] == 'Variant A']['CTR'].mean()
varA_avg_ctr

0.12026949300288214

In [95]:
# Calculate the average CTR for Variant B
varB_avg_ctr = dt[dt['Variant'] == 'Variant B']['CTR'].mean()
varB_avg_ctr

0.1089330399532712

##

In [97]:
varA_avg_time_spent = dt[dt['Variant'] == 'Variant A']['Time Spent'].mean()
varA_avg_time_spent

24.805547386576052

In [98]:
varB_avg_time_spent = dt[dt['Variant'] == 'Variant B']['Time Spent'].mean()
varB_avg_time_spent

23.343782979234575

In [99]:
control_avg_time_spent = dt[dt['Variant'] == 'Control']['Time Spent'].mean()
control_avg_time_spent

20.070781011176855

# Q2

In [121]:
# checking Time Spent
var_A_time_spent = dt[dt['Variant']=='Variant A']['Time Spent']
var_B_time_spent = dt[dt['Variant']=='Variant B']['Time Spent']
control_group_time_spent = dt[dt['Variant']=='Control']['Time Spent']

## T-test (Time Spent)

Compare Variant A & control group:

H0 : The mean of time spent for Variant A = the mean of time spent for the control group.

H1 : The mean of time spent for Variant A ≠ to the mean of time spent for the control group.

In [122]:
t_stat_A, p_val_A = stats.ttest_ind(var_A_time_spent, control_group_time_spent)

print(f"T-statistic: {t_stat_A:.5f}")
print(f"P-value: {p_val_A:.5f}")

T-statistic: 12.14236
P-value: 0.00000

Compare Variant B & control group:

H0 : The mean of time spent for Variant B = the mean of time spent for the control group.

H1 : The mean of time spent for Variant B ≠ to the mean of time spent for the control group.

In [124]:
t_stat_B, p_val_B = stats.ttest_ind(var_B_time_spent, control_group_time_spent)

print(f"T-statistic: {t_stat_B:.5f}")
print(f"P-value: {p_val_B:.5f}")

T-statistic: 8.17424
P-value: 0.00000

Compare Variant A & Variant B:

H0 : The mean of time spent for Variant A = the mean of time spent for Variant B.

H1 : The mean of time spent for Variant A ≠ to the mean of time spent for Variant A.

In [126]:
t_stat_C, p_val_C = stats.ttest_ind(var_A_time_spent, var_B_time_spent)

print(f"T-statistic: {t_stat_C:.5f}")
print(f"P-value: {p_val_C:.5f}")

T-statistic: 3.67882
P-value: 0.00025

In [133]:
# checking CTR
var_A_ctr = dt[dt['Variant']=='Variant A']['CTR']
var_B_ctr = dt[dt['Variant']=='Variant B']['CTR']
control_group_ctr = dt[dt['Variant']=='Control']['CTR']

## T-test (CTR)
Compare Variant A & control group:

H0 : The mean of CTR for Variant A = the mean of CTR for the control group.

H1 : The mean of CTR for Variant A ≠ to the mean of CTR for the control group.

In [134]:
# t-test between control group and Variant A
t_stat_A, p_val_A = stats.ttest_ind(var_A_ctr, control_group_ctr)

print(f"T-statistic: {t_stat_A:.5f}")
print(f"P-value: {p_val_A:.5f}")

T-statistic: 13.82942
P-value: 0.00000

Compare Variant B & control group:

H0 : The mean of CTR for Variant B  = the mean of CTR for the control group.

H1 : The mean of CTR for Variant B ≠ the mean of CTR for the control group.

In [135]:
# t-test between control group and Variant B
t_stat_B, p_val_B = stats.ttest_ind(var_B_ctr, control_group_ctr)

print(f"T-statistic: {t_stat_B:.5f}")
print(f"P-value: {p_val_B:.5f}")

T-statistic: 6.47181
P-value: 0.00000

Compare Variant A & Variant B:

H0 : The mean of CTR for Variant A = the mean of CTR for Variant B.

H1 : The mean of CTR for Variant B ≠ the mean of CTR for Variant B.

In [132]:
# t-test between Variant A and Variant B
t_stat_C, p_val_C = stats.ttest_ind(var_A_ctr, var_B_ctr)

print(f"T-statistic: {t_stat_C:.5f}")
print(f"P-value: {p_val_C:.5f}")

T-statistic: 7.08500
P-value: 0.00000

## ANOVA test

In [147]:
# checking time spend
var_A_time_spent = dt[dt['Variant']=='Variant A']['Time Spent']
var_B_time_spent = dt[dt['Variant']=='Variant B']['Time Spent']
control_group_time_spent = dt[dt['Variant']=='Control']['Time Spent']

F_stats,p_val = stats.f_oneway(var_A_time_spent, var_B_time_spent, control_group_time_spent)
print("F-statistic: {:.4f}".format(F_stats))
print("p-value: {:.4f}".format(p_val))

F-statistic: 75.6084
p-value: 0.0000

In [149]:
# checking CTR
var_A_ctr = dt[dt['Variant']=='Variant A']['CTR']
var_B_ctr = dt[dt['Variant']=='Variant B']['CTR']
control_group_ctr = dt[dt['Variant']=='Control']['CTR']

F_stats,p_val = stats.f_oneway(var_A_ctr,var_B_ctr,control_group_ctr)
print("F-statistic: {:.4f}".format(F_stats))
print("p-value: {:.4f}".format(p_val))

F-statistic: 93.5889
p-value: 0.0000